*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Shadows Into Light', hand ;
    --ff-secondary: 'Mali', hand;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #15d173;
    
     --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 100%) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    text-transform: uppercase;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    /* outline: 3px solid var(--clr-accent); */
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    /* background: var(--clr-accent); */
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3
p
  {
    line-height: 1;
    margin: 0;

}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
p {font-size: var(--fs-p) }

.section__title {
    margin-bottom: .15em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    background-color:#FFDB58 ;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

   header {
    
    justify-content: space-between;
    padding: 0.5em;
    
    
}   
header ul{

	display: block;
	width: 70%;
	height: inherit;
	margin: 0px auto;	


}

  .topnav {
    overflow: hidden;
    background-color: #333;
    
  } 
  .topnav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 25px;
    text-decoration: none;
    font-size: 19px;

    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: var(--clr-accent);
  } 
  
  .topnav ul a img{
    height: 30px;
    width:30px;

  }
 
  .topnav .icon {
    display: none;
  }


  
  @media screen and (max-width: 820px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 100%) {
     .topnav.responsive {position: relative;} 
     .topnav.responsive .icon {
      position: right;
      right: 0;
      top: 0; 
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*  Intro section  */


.section__subtitle--intro {
    display: inline-block;
}

.container {
    background-color: var(--clr-dark);
    background-image: url(../img/services-yol.jpg);
    background-size: cover;
    color: var(--clr-dark);
    text-align: center;
}
.intro {
    margin-bottom: 1em;
}

.service {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
     
}

/*About me section */

    .about-me {
        max-width: 1024px;
        margin: 0 auto;
    }

    
    .about-me__img {
        box-shadow: var(--bs);
    }
    
    @media screen and (min-width: 800px) {
        .about-me {
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-template-areas: 
                "title img"
                "subtitle img"
                "text img";
            grid-column-gap: 2em;
        }
        
        .section__title--about {
            grid-area: title;
            color: var(--clr-accent)
        }
        
        .section__subtitle--about {
            grid-column: 1 / -1;
            grid-row: 2;
            position: relative;
            left: -1.5em;
            width: calc(100% + 2em);
            padding-left: 1em;
            padding-right: calc(200px + 4em);
            background-color:#FFDB58 ;
        
        }
        
        
    
        .about-me__img {
            grid-area: img;
            position: relative;
            z-index: 2;
        }
    } 
/*  My skills section  */


.my-skills {
    background-color:#111;
    
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-dark);
    text-align: center;   
    
}

.section__title--skills{
    color:#15d173 ;
    position: relative;
}


@media screen and (min-width: 400px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding:5px;
    max-width:100%;
}
  .skills__img{
      width: 80%;
      max-width:100%;
      margin:auto; 
      /*border-radius: 70px;
      border:solid;*/
      position: relative;
  }

  .skills__h3{
    color:#15d173 ;

  }
 
}

/* My Work */

.my-work {
    background-color: white;
    color: var(--clr-accent);
    text-align: center;    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    padding: 20px;
    
    
}

.portfolio__item {
    background:white ;
    overflow: hidden;
    border-radius: 10px;
    
   
   
}
@media screen and (min-width: 200px ) {
.portfolio__img {
    transition: 
        transform 700ms cubic-bezier(.5, 0, .5, 1),
        opacity 500ms linear;
        /* height: 350px; */
        
        width: 90%;
        max-width:100%;
        border-radius: 15px;
        padding-bottom: 10px; 
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;

}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.1);
    opacity: .5;
    border-radius: 15px;
}
}
/* footer */


.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 1em 0;
    font-size: var(--fs-h3);
    max-width: 100%;
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}
.social-list__link {
    padding: .4em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 1em 1em;
    max-width: 1000px;
    margin: 0 auto;
    
}

.portfolio-item-individual p {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.intro__img {
    float: right;
    width:400px;
    height:250px;
    position: relative;
    z-index: 2;
    border-radius:10px;
    border:solid;
}    
/* .portfolio-item-individual img {
    max-width: 300px;
    
    
} */
